
        .header{
            background-color: rgb(241, 100, 100);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: italic;
            height: 33%;
            text-align: center;
            box-shadow: 5px 2px 4px 5px #888888; 
            color: white;
            font-style: normal;
            
        }
       
        body{
            border: 0ch;
            background-color: rgb(255, 255, 255) ;
            margin: 0%;
        }

        .c{

            padding-top: 10%;
            font-style: normal;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }
        .c a{

            text-decoration:unset;
            
        }
        a{

            color: black;
            font-style: italic;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
        }
        a:hover{
            color:rgb(226, 43, 104);
            font-style: normal;
            font-weight: bold;
        }
        .hd{
            float: left;
            padding: 5%;
            padding-left: 10%;
        }
        .hd h1{
            float: left;
            size: 20%;
        }
        .header img{
            width: 25%;
            border: 5px solid white;
            float: left; 
            margin: 1%;
        }

        @media only screen and (max-width:767px){
            .hd h1{
                text-align: center;
                padding-top: 1%;
                font-size: 25px;
            }
            .header{
                height:65%;
            }
            .header img{

                 width: 80%;
                 margin:3%;
                 margin-left: 7%; 
            }
            .link{
                font-size: 20px;
                padding: 3%;
                float: left;
            }
        }